rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /materials/{material} {
    	allow read: if true;
      allow write: if isAdmin();
    }

    match /settings/settings {
      allow read: if true;
      allow write: if isAdmin();
    }
    
		match /orders/{order} {
      allow read: if 
        isAdmin() || 
        (	resource.data.userId == request.auth.uid &&
          resource.data.userId != null);
    	allow write: if 
        isAdmin() || 
        (	resource.data.userId == request.auth.uid &&
          resource.data.userId != null &&
          request.resource.data.price == null && 
          request.resource.data.expectedShipping == null);
      allow create: if
      	(	request.resource.data.userId == null || 
        	request.resource.data.userId == request.auth.uid) && 
        request.resource.data.price == null && 
        request.resource.data.expectedShipping == null;
    }
  }
}